body {
    background-color: #0d1b2a;
    color: #e0e1dd;
    font-family: sans-serif;
    margin: 20px;
}

/* Aplicando a fonte estilo grafite nos títulos */
h1, h2 {
    font-family: 'Rubik Dirt', cursive;
}

h1 {
    color: #4cc9f0;
    font-size: 60px;
}

h2 {
    color: #4895ef;
    font-size: 35px;
}

.galeria {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-bottom: 30px;
}

iframe {
    width: 320px;
    height: 200px;
    border-radius: 10px;
    border: none;
}